*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(./Green\ Grass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}
.canvas{
    max-width: 450px;
    width: 100%;
    max-height: 70vh;
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNyCB3CuYfo38cqBv3FrCtKx10XDfUaI8nzQ&s);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template: repeat(30, 1fr)/repeat(30, 1fr);
border: 1px solid rgb(21, 238, 21);
}
.score{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    position: absolute;
    top: 5px;
}

.snake-head{
    width: 100%;
    border-radius: 50%;
    background-color: rgb(220, 243, 9);
}


#game-mode{
    cursor: pointer;
}
.game-mo{
    display: none;
}
.game-mod{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100px;
    padding: 5px 10px 5px 0px;
    margin-top: 40px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNyCB3CuYfo38cqBv3FrCtKx10XDfUaI8nzQ&s);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.game-mod button{
    padding: 2px;
    text-align: left;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.281);
    cursor: pointer;
}
/* .control{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.control button{
    padding: 8px;
    font-size: larger;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 194, 128);
    color: rgb(240, 228, 214);
    box-shadow: 1px 2px 1px 2px rgb(235, 177, 101);
}
.control button:active{
    box-shadow: 0px 0px 0px 0px;
    transform: translateY(1px);
}
.cont{
    display: grid;
    row-gap: 80px;
}
.con{
    position: absolute; 
    display: flex;
    column-gap: 60px;
} */
@media only screen and (max-width:1430px) {
    body{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNyCB3CuYfo38cqBv3FrCtKx10XDfUaI8nzQ&s);
        padding: 0px 10px;
    }
}
@media only screen and (max-width:500px) {
       .canvas{
        width: 100%;
        height: 100%;
    }
    /* .control{
     display: none;
    } */
    .score{
        padding: 10px 10px;
    }
}
